.container{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0%;
    background: #000000;
    display: flex;
}

.lateral{
    width: 12%;
    align-content: center;
    margin: 20px;
    position: relative;
    top: 5%;
}

.central{
    width: 75%;
    align-content: center;
    margin: 1%;
    display: flex;
}

.array_element{
    background: #ffffff;
    margin-right: 0.1%;
}

button{
    height: 8%;
    width: 70%;
    font-size: 200%;
    margin: 15%;
    background-color: #266694;
    color: white;
    font-family: sans-serif, Bold;
    border-radius: 6%;
}

ul{
    list-style-type:none;
    align-content: center;
}

li{
    position: inherit;
    display: inline-block;
    color: white;    
}

li label{
    display: inline-block;
    background-color: rgb(0, 0, 0);
    padding: 10% 10%;
    font-family: sans-serif, Bold;
    font-size: 16px;
    border-radius: 4px;
}

li input[type="radio"]:checked + label{
    background-color:#266694;
    border-color: #388ea9;
}

input{
    visibility: hidden;
}