.container{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0%;
    background: #0f0f0f;
    display: flex;
}

.lateral{
    width: 12%;
    align-content: center;
    margin: 20px;
    position: relative;
    top: 5%;
}

.central{
    width: 75%;
    align-content: center;
    margin: 1%;
    display: flex;
}

.array_element{
    background: #b32d38;
    margin-right: 0.1%;
}

.array_element_negative{
    background: #0f0f0f;
}

.array_element:hover{
    background: #bd343f;
}

button{
    height: 7%;
    width: 60%;
    font-size: 170%;
    margin: 20%;
    background-color: #2d856d;
    color: white;
    font-family: sans-serif, Bold;
    border-radius: 3%;
    border: none;
}

button:hover{
    background-color: #52bf91;
}



ul{
    list-style-type:none;
    align-content: center;
}

li{
    position: inherit;
    display: inline-block;
    color: white;    
}

li label{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    padding: 10% 10%;
    font-family: sans-serif, Bold;
    font-size: 110%;
    border-radius: 3%;
}

li input[type="radio"]:checked + label{
    background-color:#2d856d;
}


li input[type="radio"]:hover + label{
    background-color:#52bf927c;
}

input{
    visibility: hidden;
}